body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
}

main {
    display: flex;
    width: 1500px;
    height: 900px;
    margin: auto;
    background-color: black;
    position: relative;
}

#top_logo {
    width: 80%;
    height: auto;
    margin: auto;
}

#start_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 60px;
    color: rgb(150, 150, 150);
}